---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/btc-store.png';
const appStoreDownloadLink = '/stake/BTC';

const exchangeStoreImg = '~/assets/images/exchange-store.png';
const exchangeStoreDownloadLink = '/home/exchange';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = '/home/BUY';

const metadata = {
  title: 'CASHo.xyz | Trusted Blockchain Validator',
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a4a77a10b298c1c80028690&product=sop' async='async'></script>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Home', href: 'https://casho.xyz' },
        { text: 'Bridge', href: '/bridge' },
        { text: 'stake [ ETH ]', href: '/home/stakeETH' },
      ]}
      actions={[
        {
          text: 'EXCHANGE',
          href: '/exchange',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
  

    tagline=""
    image={{
      src: 'https://i.postimg.cc/9Mss1yCB/800to.png',
      alt: 'Crypto Hero Image',
    }}
  >
    <Fragment slot="title">
     <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
 
      <span class="text-accent dark:text-white">What is Bitcoin Staking?</span> <br />  <span
        class="hidden xl:inline"></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       The main benefit of Bitcoin staking is that it increases Bitcoin's utility, allowing your Bitcoin assets to play an active role in securing various PoS ecosystems while generating extra rewards.
      </span>
    Since Bitcoin operates on a PoW mechanism rather than PoS, innovative mechanisms, similar to Ethereum's Eigenlayer restaking, enable Bitcoin to participate indirectly in the security of other chains. By staking your Bitcoin with CASHo, you can put your assets to work, receive rewards, and actively contribute to the growth and security of the Bitcoin ecosystem.
    </Fragment>
    
    <div slot="actions" class="flex max-w-lg gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={340} format="webp" />
      </Button>

      <Button variant="link" href={exchangeStoreDownloadLink}>
        <Image src={exchangeStoreImg} alt="Exchange Store Image" width={340} format="webp" />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={340} format="webp" />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="What is Crypto Staking?"
    subtitle="‍

Crypto staking is the process of locking up specific cryptocurrencies in a digital wallet to help verify transactions and secure a blockchain network. In exchange for temporarily locking their assets, stakers are rewarded with newly minted coins or tokens, functioning similarly to earning interest in a traditional savings account."
    tagline=""
    
   
  />

   <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Multiple Networks"
    testimonials={[
      {
        testimonial: `Receive rewards on your Bitcoin holdings without selling, bridging or swapping to wBTC.`,
        name: 'Bitcoin',
        job: 'Diversify and Earn',
        image: {
          src: 'https://cryptologos.cc/logos/bitcoin-btc-logo.png',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Bring new opportunities by enabling your users to earn staking rewards.`,
        name: 'Ethereum',
        job: 'Diversify and Earn',
        image: {
          src: 'https://cryptologos.cc/logos/ethereum-eth-logo.png',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial: `Anyone can delegate some SOL tokens to a validator (or “vote account”) that participates to the consensus of the Solana chain.`,
        name: 'Solana',
        job: 'Diversify and Earn',
        image: {
          src: 'https://cryptologos.cc/logos/solana-sol-logo.png',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial: `By locking a protocol’s native tokens to give “validators” the right to secure a chain. Validators propose new blocks or attest other validators’ blocks, gaining rewards for doing so.`,
        name: 'Monad',
        job: 'Diversify and Earn',
        image: {
          src: 'https://www.monad.xyz/favicon.ico',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial: `Binance Staking is integrated into the Binance Earn ecosystem, offering users multiple ways to secure blockchain networks and earn passive rewards directly from their exchange accounts.`,
        name: 'Binance',
        job: 'Diversify and Earn',
        image: {
          src: 'https://cryptologos.cc/logos/binance-usd-busd-logo.png',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'Avalanche is a blockchain platform that aims to address the blockchain trilemma of scalability, security and decentralization thanks to its unique Proof of Stake (PoS) mechanism.',
        name: 'Avalanche',
        job: 'Diversify and Earn',
        image: {
          src: 'https://cryptologos.cc/logos/avalanche-avax-logo.png',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '',
      text: 'More Networks',
      href: '/home/staking',
      icon: 'tabler:chevron-right',
    }}
  />

  

  <!-- CallToAction Widget *********** -->

 
  <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "f9951754-b7ab-40c7-8818-027c7daf05f0"
  });
</script>
</Layout>
